
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e806'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */